[Unit]
Description=Server for the Minecraft game
Documentation=https://github.com/wurstmineberg/systemd-minecraft
Documentation=http://minecraft.gamepedia.com/Server
After=network.target
Conflicts=mscs.service

[Service]
Type=forking
User=wurstmineberg
Group=wurstmineberg
ExecStart=/usr/bin/env python3 -m minecraft start
ExecStop=/usr/bin/env python3 -m minecraft stop
RestartSec=1

[Install]
WantedBy=multi-user.target
