[Unit]
Description=Server for Minecraft world %i
Documentation=https://github.com/wurstmineberg/systemd-minecraft
Documentation=https://minecraft.gamepedia.com/Server
After=network.target
Conflicts=minecraft.service mscs.service

[Service]
Restart=always
RestartSec=1
# make it less likely that Minecraft is killed when the system is out of RAM
OOMScoreAdjust=-500
ExecStart=/opt/wurstmineberg/.cargo/bin/minecraft run %i
ExecReload=/opt/wurstmineberg/.cargo/bin/minecraft cmd %i reload
User=wurstmineberg
Group=wurstmineberg
WorkingDirectory=/opt/wurstmineberg/world/%i

[Install]
WantedBy=multi-user.target
DefaultInstance=wurstmineberg
