[Unit]
Description=Server for Minecraft world %i
Documentation=https://github.com/wurstmineberg/systemd-minecraft
Documentation=https://minecraft.gamepedia.com/Server
After=network.target
Conflicts=minecraft.service mscs.service

[Service]
Restart=always
RestartSec=1
ExecStart=/opt/wurstmineberg/.cargo/bin/minecraft run %i
#ExecReload=/opt/wurstmineberg/.cargo/bin/minecraft command %i reload #TODO `minecraft command` subcommand
User=wurstmineberg
Group=wurstmineberg
WorkingDirectory=/opt/wurstmineberg/world/%i

[Install]
WantedBy=multi-user.target
DefaultInstance=wurstmineberg
